
.label{
    -fx-text-fill: white;
    -fx-font-family: "Arial Narrow";
    -fx-font-weight: bold;
    -fx-font-size: 18px;
}

.button {
    -fx-text-fill: black;
    -fx-font-family: "Arial Narrow";
    -fx-font-weight: bold;
    -fx-background-color: #F2D479;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );    
    -fx-text-align: center;
}

.check-box{
    -fx-text-fill: black;
    -fx-font-family: "Arial Narrow";
    -fx-font-weight: bold;
    -fx-font-size: 16px;
    -fx-display: inline-block;
    -fx-mark-color: black;
    -fx-border-width: 2;
    -fx-border: 2px solid #ccc;
}
.root{
    -fx-background-color: #E33630;
}
/*
#SpinnerButtonUp {  
    -fx-background-insets: 0;  
    -fx-background-radius:0 3 0 0;  
    /*    -fx-background-radius:0;  
} 
*/